@font-face{
    font-family: 'CircularStd-Book';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CircularStd-Book.woff") format("opentype");
}

*{
    box-sizing: border-box;
}

body {
    font-family: "CircularStd-Book", Arial, sans-serif;
    font-size: .875rem;
    background: #F2FAF4;
}


/* Navbar Starts Here */

.navbar{
    padding: 2px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);

}

.navbar .logo{
    margin-right: 2.7em;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -1.6875px;
    color: #1875F0;
    padding-left: 20px;
}

input[type="submit"]{
    background: #2A9E4A;
    border-radius: 25px;
    color: #FFFFFF;
    font-family: "CircularStd-Book";
    padding: 10px 15px 9px 15px;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.02em;
    margin-right: 76px;
   
}

input:focus, textarea:focus{
    outline: none;
}

/* Navbar Ends Here */

/* Overlay */
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.55); /* Black background with opacity */
    z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


/*Side Menu Starts Here*/


.sidenav::-webkit-scrollbar {
    width: 3px;
}



::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(197, 197, 197, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(197, 197, 197, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(197, 197, 197, 0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(197, 197, 197, 0.8); 
}


.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 90px;
    background: #ffffff;
    transition: 0s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 36px;
    padding-top: 33px;
    padding-right: 6px;
    display: none;
}
.sidenav .closebtn:hover{
    padding: 0px;
    margin: 33px 6px 0px 30px;
    background-color: #fff;
}

.open-sidenav{
    display: none;
}

.sidenav a{
    display: block;
    color: #8D948F !important;
    text-decoration: none;
    padding: 10px 15px;
    padding-right: 0px;
    font-size: 0.845rem;
    transition: all 0s ease-in-out;
    margin-bottom: 15px;
    padding-left: 25px !important;
    cursor: pointer;
    background: none;
}

.sidenav a.active{
   font-weight: bold;
   color: #2A9E4A !important;
}
.sidenav a.active:hover{
    padding: 10px 30px 10px 10px;
}
.sidenav a:hover{
    transition: all 0.3s ease-in-out;
    padding: 10px 5px 10px 30px !important;
    font-weight: bold;
}

.accordion .card-body{
    padding: 0;
    margin: 0;
    margin-left: 45px;
    margin-top: -13px;
    margin-bottom: 15px;
}

.accordion .card-body a{
    color: #2A9E4A !important;
    margin-bottom: -5px;
}
.accordion .card-body a.fx{
    margin-left: 2px;
}

.accordion .card-body a:hover{
    background: none;
    padding: 10px 5px 10px 25px !important;
}

.sidenav .utilities{
    margin-top: 30px;
    padding-left: 25px !important;
    font-weight: bold;
    color: #8D948F !important;
}

.sidenav a img{
    margin-top: -5px;
    margin-right: 10px;
    width: 20px;
}

.sidenav .sign-out{
    margin-bottom: 40px;
    color: #2A9E4A !important;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
}

/*Icons styling  start*/

.home-icon{
    margin-right: 24px !important;
    
}

.sidenav .buy-airtime img{
    margin-top: -2px;
    width: 25px;
    height: 28px;
    margin-right: 20px;
}

.sidenav .buy-data img{
    width: 15px;
    height: 23px;
    margin-right: 30px;
}

.sidenav .transfer img{
    width: 20px;
    height: 16px;
    margin-right: 25px;
}

.refresh-icon {
    margin-right: 24px !important;
}

.internet-icon{
    width: 20px;
    height: 18px;
    margin-right: 25px !important;
}

.electricity-icon{
    width: 23px;
    margin-right: 25px !important;
}

.television-icon{
    width: 23px;
    margin-right: 24px !important;
    margin-left: 1px;
}

.toll-icon{
    width: 23px;
    margin-right: 24px !important;
    margin-left: 1px;
}

.tools-icon{
    width: 23px;
    margin-right: 24px !important;
    margin-left: 1px;
}

.credit-card-icon{
    width: 23px;
    margin-right: 24px !important;
    margin-left: 1px;
}

.avatar-icon{
    width: 20px !important;
    margin-right: 24.5px !important;
}

.accordion hr{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.manage-bene-text{
    margin-bottom: 40px !important;
}

/*Side Menu Ends Here*/


/*Main Page Starts Here*/

.main{
    margin: 0;
    margin-right: 10px;
    margin-left: 210px; /* Same as the width of the sidenav */
    padding: 0px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 10px;
}

.main-page-content{
    margin: 0 auto;
    width: 90%;
    margin-top: 34px;
}

.header {
    display: inline-flex;
    margin-bottom: 5px;

}


.good-morning-text, .time-text{
    color: #08501C;
    font-family: "CircularStd-Book";
    line-height: normal;
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 0.001em;
}

.bvn-text, .date-text {
    color: #545454;
    font-size: 1em;
    font-family: "CircularStd-Book";
    font-weight: 500;
    margin-top: -8px;
}
.header-1{
    margin-left: 30px;
    margin-right: 130px;
}

.first-box{
    width: 84%;
    height: 230px;
    background: linear-gradient(114.31deg, #2BA44C -1.53%, #2BA44C 10.96%, #1DA943 98.66%);
    box-shadow: 1px 2px 10px rgba(79, 79, 79, 0.02);
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 44px;
}

.first-box .header-content1 {
    display: inline-flex;
    padding-top: 18px;
}

.bank-icon{
    width: 20px;
    height: 18px;
    margin-left: 40px;
    
}

.bank-icon2{
    width: 20px;
    height: 18px;
    margin-left: 30px;
    
}

.left .first-box p {
    font-family: "CircularStd-book";
    line-height: normal;
    font-size: 1em;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 14px;
    margin-top: 2px;
    font-weight: bold;
}

.first-box hr {
    margin: 0;
    border: 0.75px solid #3FB85D;
}

.first-box  .amount-text{
    margin-top: 18px !important;
    margin-left: 38px !important;
    font-size: 2.7em !important;
    font-family: "Circular Std" ;
    line-height: normal !important;
    letter-spacing: 0.06em !important;
}

.first-box .available-bal-text {
    font-family: "Circular Std";
    line-height: normal !important;
    font-size: 1em !important;
    letter-spacing: 0.07em !important;
    color: rgba(255, 255, 255, 0.6) !important;
    margin-left: 38px !important;
    margin-top: -6px !important;
    margin-bottom: 38px !important;
}

.first-box .account-num-text {
    font-family: "Circular Std";
    line-height: normal !important;
    font-size: 1em !important;
    letter-spacing: 0.05em !important;
    color: #FFFFFF !important;
    margin-left: 38px !important;
    

}

.first-box span {
    margin-left: 20px;
}



.second-box .header-content2 {
    display: inline-flex;
    padding-top: 15px !important;
}



.second-box hr {
    margin: 0;
    border: 0.5px solid #D6E9DB;
}

.left .second-box .header-content2 {
    display: inline-flex;
    padding-bottom: 14px;
    background: #FFFFFF;
    box-shadow: 1px 2px 10px rgba(79, 79, 79, 0.02);
    border-radius: 7px 7px 0px 0px;
    width: 85%;
    margin-left: 30px;
}

.left .second-box span {
    color: #08501C;
    font-weight: bold;
    margin-left: 14px;
}



.left .second-box .name-text {
    color: #545454;
}

.left .second-box .copy-email-text{
    font-family: Circular Std;
    line-height: normal;
    font-size: 1.1em;
    letter-spacing: 0.02em;
    color: #4A85CA !important;
    
    
}

.left .second-box .num-text{
    color: #545454;
    font-weight: bold;
}

.left .second-box .table{
    width: 85%;   
    background: #FFFFFF;
    box-shadow: 1px 2px 10px rgba(79, 79, 79, 0.02);
    border-radius: 0px 0px 7px 7px;
    border-top: 0.5px solid #D6E9DB;
    margin-left: 30px;
    
}


.left .second-box .table tbody tr .name-text {
   padding-left: 30px !important;
}

.main-page-content .right .table tbody tr td {
    border-bottom: 1px solid transparent !important;
}

.main-page-content .left .second-box .table tbody td {
    padding: 15px ;

}

.right .header-content3 .recent-text {
    font-family: Circular Std;
    line-height: normal;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    color: #08501C;
    margin-top: 10px;
    font-weight: bold; 
}
.right{
    width: 100% ;
    margin-left: -60px;
}

.right .clock {
    width: 18px;
    height: 18px;
    margin-left: -26px;
    margin-right: 30px;
    margin-top: 10px;
 
}

.right .header-content3 {
    display: inline-flex;
    background: #FFFFFF;
    box-shadow: 1px 2px 10px rgba(79, 79, 79, 0.02);
    border-radius: 7px 7px 0px 0px;
    width: 115%;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 60px !important;  
}

.right .table{
    width: 115%;   
    background: #FFFFFF;
    box-shadow: 1px 2px 10px  rgba(210, 165, 14, 0.1) !important;
    border-radius: 0px 0px 7px 7px;
    border-top: 0.5px solid #D6E9DB;
    margin-left: 5px;
    padding-top: 24px;
    padding-top: 34px !important;
    
    
}

.green-arrow-icon{
    width: 12px;
}

.red-arrow-icon{
    width: 12px;
}

.even-num-row{ 
background: rgba(210, 165, 14, 0.1) !important;
}

.odd-num-row{
    background: #ffffff !important;
}


.right .table tbody .first-column{
    padding: 20px 20px !important;
    padding-left: 34px !important; 
    padding-right: 5px !important;
    color: #545454; 
    font-weight: bold;
}

.right .table tbody .second-column{
    padding: 20px 20px !important;
    padding-left: 40px !important;
    padding-right: 0 !important;
    color: #545454; 
    font-weight: bold;
}

.right .table tbody .third-column{
    padding: 20px 20px !important;
    padding-left: -30px !important;
    padding-right: 30px !important;
    color: #545454; 
    font-weight: bold;
   
}

.right .table tbody .fourth-column{
    padding: 20px 20px !important;
    padding-left: 5px !important; 
    color: #545454; 
    font-weight: bold;
}

.right .table tbody .red-arrow-icon{
    margin-left: -20px;
    padding-top: 12px ; 
    color: #545454; 
    font-weight: bold;
}

.right .table tbody .green-arrow-icon{
    margin-left: -20px;
    padding-top: 12px; 
}

.main-page-content .utilities-bar .container {
   margin-top: 30px;
   padding: 20px 40px ;
}

.main-page-content .utilities-bar .container p {
    display: inline-flex;
    margin-right: 40px;
    padding: 0;
    font-size: 1.1em;
    letter-spacing: 0.02em;
    color: #2A9E4A;
    font-weight: bold;
      
}

.main-page-content .utilities-bar .container .transfer, .airtime , .data, .electricity, .internet{
    width: 40px;
    height: 40px;
    margin-right: 40px;
    margin-top: -6px;
    
}




.main-page-content .footer-text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: Circular Std;
    line-height: normal;
    font-size: 1em;
    letter-spacing: 0.02em;
    color: #08501C;
    font-weight: bold;

}


/*Main Page Ends Here*/



/*Responsive Page Starts Here*/

@media screen and (max-width: 768px){
    
    .navbar-toggler{
        display: none;
    }
    
    .navbar .logo{
        margin-left: 30px;
    }
    
    .navbar-nav{
        display: none;
    }
    
    .sidenav{
        width: 0px;
        padding-top: 75px;
        z-index: 2001;
    }
    .sidenav a:hover{
        padding: 10px 0px 10px 15px;
    }
    
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn{
        display: block;
        padding-top: 0px;
    }
    .sidenav .closebtn:hover{
        margin: 33px 6px 0px 30px;
    }

    .open-sidenav{
        position: absolute;
        color: #8D948F;
        font-size: 28px;
        z-index: 2000;
        top: 7px !important;
        left: 12px;
        display: block;
    }
    
    .sidenav .sign-out{
        display: block;
    }
    
    .main{
        margin-left: -8px; /* Same as the width of the sidenav */
        width: 100%;
    }

}

/* Responsive Page Ends Here*/